// Fonts

@font-face {
    font-family: "NunitoRegular";
    src: url("../assets/fonts/Nunito-Regular.ttf");
}
@font-face {
    font-family: "NunitoBold";
    src: url("../assets/fonts/Nunito-Bold.ttf");
}
@font-face {
    font-family: "NunitoBlack";
    src: url("../assets/fonts/Nunito-Black.ttf");
}
@font-face {
    font-family: "NunitoExtraBold";
    src: url("../assets/fonts/Nunito-ExtraBold.ttf");
}
@font-face {
    font-family: "NunitoSemiBold";
    src: url("../assets/fonts/Nunito-SemiBold.ttf");
}
@font-face {
    font-family: "PoppinsMedium";
    src: url("../assets/fonts/Poppins-Medium.ttf");
}
@font-face {
    font-family: "PoppinsRegular";
    src: url("../assets/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "PlayfairDisplayRegular";
    src: url("../assets/fonts/PlayfairDisplay-Regular.ttf");
}
// @font-face {
//     font-family: "OpenSans";
//     src: url("../assets/fonts/OpenSans-SemiBold.ttf");
//     font-weight: 600;
//     font-style: normal;
// }
// @font-face {
//     font-family: "OpenSans";
//     src: url("../assets/fonts/OpenSans-Bold.ttf");
//     font-weight: 700;
//     font-style: normal;
// }


// 1. Colors

$mainWhite: #ffffff;
$mainBlue: #b4d3d3;
$navLinkColor: #919196;
$textColor: #29292c;
$lightBlueColor: #98cccc;
$greyTextColor: #96969b;
$darkGreytextColor: #73737b;
$hoveredLink: #b4d3d3;
$mainButtonColor: #b4d3d3;
$actorBackgroundColor1: #e2e8e8;
$actorBackgroundColor2: #d3dcdc;
$catalogItemCover: #0d0d0ee6;
$menuBackground: #d3dcdc;
$menuTileBackground1: rgba(180, 211, 211, 0.86);
$menuTileBackground2: rgba(145, 145, 150, 0.49);
$menuHrColor: #88d0d0;
$menuLinkSMBackground: #b4d3d3;
$descriptionBackground: #eeeeee;
$storyBackground1: #e6ecec;
$storyBackground2: #e2e8e8;

@mixin mainBackground {
    background: linear-gradient(270deg, rgba(181,212,212,1) 0%, rgba(216,230,230,1) 100%);
}


// 2 Adaptive breakpoints

// Devices media

@mixin ipad-12inch-portrait {
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) and (hover: none) {
        @content;
    }
}

// 2.2 Width range

@mixin screen-460-767 {
    @media screen and (min-width: 460px) and (max-width: 767px) {
        @content;
    }
}

@mixin screen-768-999 {
    @media screen and (min-width: 768px) and (max-width: 999px) {
        @content;
    }
}

@mixin screen-1000-1919 {
    @media screen and (min-width: 1000px) and (max-width: 1919px) {
        @content;
    }
}

@mixin screen-768-1279 {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        @content;
    }
}

@mixin screen-1000-1279 {
    @media screen and (min-width: 1000px) and (max-width: 1279px) {
        @content;
    }
}

@mixin screen-1280-1779 {
    @media screen and (min-width: 1280px) and (max-width: 1779px) {
        @content;
    }
}

@mixin screen-1280-1919 {
    @media screen and (min-width: 1280px) and (max-width: 1919px) {
        @content;
    }
}

@mixin screen-1440-1919 {
    @media screen and (min-width: 1440px) and (max-width: 1919px) {
        @content;
    }
}

// 2.3 Min width

@mixin  screen-min-1280 {
    @media screen and (min-width: 1280px) {
        @content;
    }
}

@mixin  screen-min-1920 {
    @media screen and (min-width: 1920px) {
        @content;
    }
}

// 2.4 Max width

@mixin screen-459 {
    @media screen and (max-width: 459px) {
        @content;
    }
}

@mixin screen-599 {
    @media screen and (max-width: 599px) {
        @content;
    }
}

@mixin screen-767 {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin screen-899 {
    @media screen and (max-width: 899px) {
        @content;
    }
}

@mixin screen-999 {
    @media screen and (max-width: 999px) {
        @content;
    }
}

@mixin screen-1279 {
    @media screen and (max-width: 1279px) {
        @content;
    }
}

@mixin screen-1439 {
    @media screen and (max-width: 1439px) {
        @content;
    }
}

@mixin screen-1779 {
    @media screen and (max-width: 1779px) {
        @content;
    }
}

@mixin screen-1919 {
    @media screen and (max-width: 1919px) {
        @content;
    }
}

// 2.5 Max height

@mixin screen-h-720 {
    @media screen and (max-height: 720px) {
        @content;
    }
}

@mixin screen-h-799 {
    @media screen and (max-height: 799px) {
        @content;
    }
}

@mixin screen-h-1023 {
    @media screen and (max-height: 1023px) {
        @content;
    }
}

// 2.6 Min height

@mixin screen-min-h-1200 {
    @media screen and (min-height: 1200px) {
        @content;
    }
}
// @mixin screen-touch {
//     @media (hover: none) {
//         @content;
//     }
// }

// 2.3 Flexbox snippets

@mixin flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin flex-row-nowrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@mixin flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin flex-column-nowrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@mixin flex-column-nowrap-reverse {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
}
